
/*mobile first*/

.navbar{
 background-color:#3e4444;

}
.nav-link{
  color:#deeaee!important;
}
.navbar-collapse{
    justify-content: flex-end;
}

.img-fluid{
  width: 100%;
}

h2{
  font-size: 25px;
}

.lead{
  font-size: 18px;
}

.input-group{
  background-color: transparent;
}

.contact{
  margin: 10px 0 ;
}

.row{
 margin: 20px 0;
}


.carousel-caption{
  left: 10%;
  font-weight:bolder;
}



Section{
  padding: 80px 0 0 0;
}















#cookiesModal{
  top: auto;
  position: fixed;
  z-index: 10000;
  width: 100%;
}

#cookiesModal>.personal-modal{
padding: 10px 0;
color: white;
  background-color: black;
}




.fab{
  margin: 0 5px;
}
