#SignUp{
  display: none;
}

#signUpForm{
  padding:10px 0;
}

#TosignUp{
  padding: 0 5px;
}

input{
  margin: 5px 0;
}

.loginBtn{
  width: 100%;
}

.SignUpBtn{
  width: 100%;
  margin: 5px 0;
}

.loginCaption{
  color:orange;
  font-size: 20px;
  padding: 8px;
}


section{
  padding: 40px 15px;
}

.fa-angle-left{
  padding: 5px 0;
  float: left;
}
