#SignUp{
  display: none;
}



.underNav{
  margin-top:90px;
  border: 1px solid lightGrey;
  border-radius: 10px;
  padding: 30px;
}

input{
  margin: 5px 0;
}

.loginBtn{
  width: 100%;
}

.loginCaption{
  color:orange;
  font-size: 20px;
  padding: 10px;
}


section{
  padding: 40px 20px;
}
